directory = ~/data/torrent
session = ~/.rtorrent/session
execute_log = ~/.rtorrent/rtorrent.log

check_hash = no

schedule = watch_directory,5,5,load_start=Desktop/torrent/*.torrent
schedule = untie_directory,5,5,stop_untied=

#schedule = ratio,60,60,"stop_on_ratio=200,200M,2000"

#schedule = low_diskspace,5,60,close_low_diskspace=10240M

port_range = 22000-22200
port_random = yes

check_hash = yes

use_udp_trackers = yes

#dht = auto

#dht_port = 22201

peer_exchange = yes
